body{
    background-color: #a18276;
    color: #fdffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
button{
    padding: 5px 20px;
    background-color: lightskyblue;
    border-style: none;
}
input{
    height: 20px;
}
